body {
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: var(--barras);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
    width: 100%;
    height: 70px;
    padding: 0%;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    padding: 10px;
    margin: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.buts {
    text-decoration: none;
    background-color: var(--botao);
    padding: 14px 25px;
    color: var(--texto);
    font-size: 20px;
    transition: 0.3s;
}


.name {
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    margin-left: 40px;
    color: #f08700;
    transition: 0.3s;
}


.name:hover {
    font-size: 32px;
    color: aqua;
}

img {
    width: 240px;
    height: 160px;
}

.dogs {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 30px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    width: 40%;
    border: 1px solid #f2bac9;
    border-radius: 17px;
    transition: 0.3s;

}

.footer {
    background-color: var(--barras);
    color: var(--texto);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 10px;
    text-align: justify;
    color: var(--texto);
}

@media (max-width: 769px) {
    header {
        justify-content: center;
        height: 290px;
    }

    .name {
        display: none;
    }

    .buttons {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .boxes {
        flex-wrap: wrap;
    }
}

@media (max-width: 426px) {
    img {
        width: 150px;
        height: 100px;
    }
}

a:hover {
    color: aquamarine;
    background-color: #f08700;
    font-size: 25px;
}

.dogs:hover {
    background-color: #fcb558;
}